.card-title {
  font-size: 45px;
  font-weight: bold;
}

.card-text {
  font-size: 24px;
  font-weight: lighter;
}

.tituloProductos {
  background-color: rgb(236, 236, 236);
  color: rgb(224, 34, 34);
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

.max-width-100 {
  max-width: 100%;
  height: auto;
}
