#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 800px;
  box-shadow: 2px 2px 30px $color-gris(41, 41, 41);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 510px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;

  strong {
    color: $color-rojoclaro;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }

  span {
    color: $color-grisoscuro;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
  }
}

.reviews {
  color: yellow;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 1.5rem;
  color: $color-grisoscuro;
  font-family: "Poppins", sans-serif;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media (max-width: 768px) {
  .testimonial-box {
    width: 100%;
    margin: 10px;
  }
  
  .profile-img {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .testimonial-box {
    width: 100%;
    margin: 10px;
  }
  
  .profile-img {
    margin-right: 10px;
  }
}
